* {
  /* box-sizing: border-box; */
}

:root {
  --primary-text-color: #171100;
  --secondary-text-color: #5f5b53;
  --background-color: #fffcf4;
  --font-heading: Sen, sans-serif;
  --accent-color: #ffb900;
}

/*common css*/

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

html {
  font-size: 80%;
}

body {
  /********* for rem calculation 1.6rem = 16px *********/
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/*************header css*************/

.header {
  background-color: #fffcf4;
  padding-top: 44px;
  padding-bottom: 44px;
}

.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  /*****s hort hand for margin: 0 auto;*****/
  max-width: calc(100% - 24px);
}

.btn {
  width: 172.7px;
  line-height: 49px;
  background: #171100;
  color: #ffffff;
  border-radius: 24.5px;
  -webkit-border-radius: 24.5px;
  -moz-border-radius: 24.5px;
  -ms-border-radius: 24.5px;
  -o-border-radius: 24.5px;
  text-align: center;
}

.header .body {
  display: flex;
  align-items: center;
}

.header nav {
  display: flex;
  margin-left: auto;
}

.header nav a {
  font-size: 1.6rem;
  line-height: 28px;
  color: #5f5b53;
  padding-left: 21px;
  padding-right: 21px;
}

.header nav a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}

.header nav a.active {
  font-weight: 600; /* semibold */
  color: #171100;
  position: relative;
}

.header nav a.active::after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  background: #171100;
  display: block;
  position: absolute;
  top: 23px;
  left: 22px;
}

.header .body .btn-sign-up {
  /*
  width: 172.7px;
  line-height: 49px;
  background: #171100;
  color: #ffffff;
  border-radius: 24.5px;
  -webkit-border-radius: 24.5px;
  -moz-border-radius: 24.5px;
  -ms-border-radius: 24.5px;
  -o-border-radius: 24.5px;
  text-align: center;
  margin-left: 49px;
  */
  margin-left: 49px;
}

/*hero css*/
.hero {
  background: var(--background-color);
}

.hero .main-content {
  display: flex;
}

.hero .left-box {
  width: 48.7%;
  position: relative;
}

.hero .left-box > img {
  width: 470px;
  height: 685px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
}

.hero .left-box .summary {
  width: 270px;
  height: 244px;
  background-color: #fff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-border-radius: 12px;
  padding: 24px;
  position: absolute;
  right: 0px;
  bottom: 100px;
}

.hero .left-box .item {
  display: flex;
  margin: 7px 0;
  align-items: center;
}

.hero .left-box .icon {
  margin-right: 16px;
  width: 48px;
  height: 48px;
}

.hero .left-box .course-contents {
  gap: 40px;
}

.hero .left-box .course-contents span:first-child {
  font-size: 1.4rem;
  line-height: 26px;
  color: #5f5b53;
}

.hero .left-box .course-contents span:last-child {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 30px;
}

.hero .left-box span {
  display: block;
}

.hero .left-box .summary .item:first-child {
  margin-top: 0;
}

.hero .left-box .summary .item:last-child {
  margin-bottom: 0;
}

/*right box*/
.hero .right-box {
  width: 51.3%;
  padding-left: 130px;
}

.hero .right-box h1 {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 4.3rem;
  width: 470px;
  line-height: 68px;
  letter-spacing: -2%;
  color: var(--primary-text-color);
}

.hero .right-box .desc {
  font-size: 1.3rem;
  line-height: 30px;
  width: 470px;
  color: var(--secondary-text-color);
  margin-top: 28px;
  margin-bottom: 38px;
}

.hero .right-box .call-to-action {
  display: flex;
}

.hero .right-box .btn-see-courses {
  width: 180px;
  height: 64px;
  line-height: 64px;
  background-color: #ffb900;
  border-radius: 32px;
  font-weight: 600;
  font-size: 1.8rem;
}

.hero .right-box .btn-watch-video {
  display: flex;
  background: none;
  border: none;
  align-items: center;
  margin-left: 28px;
}

.hero .right-box .btn-watch-video span {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
  margin-top: -10px;
}

.hero .right-box .recent-engagement {
  display: flex;
  color: var(--secondary-text-color);
  gap: 50px;
  margin-top: 40px;
}

.hero .right-box .stats {
  display: flex;
  margin-left: auto;
  gap: 70px;
}

.hero .right-box .item {
  display: flex;
  align-items: baseline;
  font-size: 16px;
  color: #555;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}

.hero .right-box .item .numbers {
  font-size: 40px;
  font-weight: 700;
  color: var(--primary-text-color);
  line-height: 1;
  margin-right: 5px;
  flex-direction: column;
  align-items: flex-start;
  line-height: 0.8;
}

.hero .right-box .item-notes span {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-text-color);
}

/************Our popular courses************/

.popular-courses {
  padding-top: 250px;
  padding-bottom: 200px;
}

.popular-courses .info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-courses .heading {
  width: 458px;
}

.popular-courses .info-box h2 {
  font-family: var(--font-heading);
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: -2%;
  color: var(--primary-text-color);
}

.popular-courses .info-box p {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  line-height: 30px;
  color: var(--secondary-text-color);
  margin-top: 16px;
  margin-bottom: 40px;
}

.popular-courses .info-box .arrows {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-courses .info-box .arrows button:first-child {
  background: white;
  border: 1px solid var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.popular-courses .info-box .arrows button:last-child {
  background: var(--accent-color);
  color: white;
  border: 1px solid var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  margin-left: 18px;
}

/*course list info css*/
.popular-courses .course-list {
  display: flex;
  gap: 30px;
}

.popular-courses .course-item {
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.1);
}

.popular-courses .course-item .thumbnail {
  width: 370px;
  height: 278px;
  border-radius: 10px;
}

.popular-courses .course-item .course-info {
  padding: 22px;
}

.popular-courses .course-item .course-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--accent-color);
}

.popular-courses .course-item .course-heading h3 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
  color: var(--primary-text-color);
}

.popular-courses .course-item .course-heading div {
  display: flex;
  align-items: center;
}

.popular-courses .course-item .course-heading img {
  width: 18px;
  height: 18px;
  margin-top: 1px;
  margin-left: 6px;
}

.popular-courses .course-item .course-heading span {
  font-size: 1.6rem;
  line-height: 28px;
  margin-top: 1px;
  margin-left: 6px;
}

.popular-courses .course-item .desc {
  font-family: var(--font-heading);
  font-size: 1.4rem;
  line-height: 26px;
  color: #5f5b53;
  margin-bottom: 12px;
  letter-spacing: 0%;
}

.popular-courses .course-item .course-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-courses .course-info .course-footer span {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
  color: var(--primary-text-color);
  font-family: var(--font-heading);
}

.popular-courses .course-info .course-footer .book-now {
  width: 140px;
  height: 40px;
  line-height: 40px;
  background: var(--accent-color);
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}

.popular-courses .course-info .course-footer .book-now:hover {
  background: var(--primary-text-color);
}

/*testimonial*/
.testimonial {
  background-color: #2e2100;
  color: white;
  padding-top: 104px;
  padding-left: 150px;
  padding-bottom: 88px;
}

.testimonial .main-content {
  display: flex;
  justify-content: space-between;
}

.testimonial .left-box .petter-moor {
  width: 72px;
  height: 72px;
}

.testimonial .left-box h3 {
  display: block;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 34px;
  color: #f7f7f7;
  margin-top: 18px;
}

.testimonial .left-box p {
  font-size: 1.4rem;
  line-height: 20px;
  color: #bfbcb2;
  margin-top: 4px;
  margin-bottom: 28px;
}

.testimonial .left-box .tiny-icon {
  display: flex;
  gap: 6px;
}

.testimonial .left-box .tiny-icon .tiny1 {
  width: 6px;
  height: 6px;
  background-color: #634700;
  border-radius: 500px;
}

.testimonial .left-box .tiny-icon .tiny2 {
  width: 6px;
  height: 6px;
  background-color: #ffb900;
  border-radius: 500px;
}

.testimonial .left-box .tiny-icon .tiny3 {
  width: 6px;
  height: 6px;
  background-color: #634700;
  border-radius: 500px;
}
