* {
  /* box-sizing: border-box; */
}

.box {
  width: 100px;
  height: 100px;
  background-color: brown;
  margin-top: 15px;
  border: 5px solid black;
}

.box1 {
  box-sizing: content-box;
}
.box2 {
  box-sizing: border-box;
}

html {
  font-size: 80%;
}

body {
  font-size: 1.6rem;
}

/*common css*/

a {
  text-decoration: none;
}

li {
  list-style: none;
}
