* {
  /* box-sizing: border-box; */
}

:root {
  --primary-text-color: #171100;
  --secondary-text-color: #5f5b53;
  --background-color: #fffcf4;
}

/*common css*/

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  font-size: 80%;
}

body {
  /* for rem calculation 1.6rem = 16px */
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/*header css*/

.header {
  background-color: #fffcf4;
  padding-top: 44px;
  padding-bottom: 44px;
}

.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  /*short hand for margin: 0 auto;*/
  max-width: calc(100% - 24px);
}

.header .body {
  display: flex;
  align-items: center;
}

.header nav {
  display: flex;
  margin-left: auto;
}

.header nav a {
  font-size: 1.6rem;
  line-height: 28px;
  color: #5f5b53;
  padding-left: 21px;
  padding-right: 21px;
}

.header nav a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}

.header nav a.active {
  font-weight: 600; /* semibold */
  color: #171100;
  position: relative;
}

.header nav a.active::after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  background: #171100;
  display: block;
  position: absolute;
  top: 23px;
  left: 22px;
}

.header .body .btn-sign-up {
  width: 172.7px;
  line-height: 49px;
  background: #171100;
  color: #ffffff;
  border-radius: 24.5px;
  -webkit-border-radius: 24.5px;
  -moz-border-radius: 24.5px;
  -ms-border-radius: 24.5px;
  -o-border-radius: 24.5px;
  text-align: center;
  margin-left: 49px;
}

/*hero css*/
.hero {
  background: var(--background-color);
}

.hero .main-content {
  display: flex;
}

.hero .left-box {
  width: 48.7%;
}

.hero .left-box > img {
  width: 470px;
  height: 685px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
}

.hero .right-box {
  width: 51.3%;
}

.hero .left-box .summary {
  width: 270px;
  height: 244px;
  background-color: #fff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-border-radius: 12px;
}
